{% macro build_list(stocks) %}


<div class="row">
  {% for ticker in stocks %}
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <a href={{ url_for('c_listings.listings_ticker', ticker_name=ticker.ticker) }} class="card-title">{{
          ticker.ticker }}</a>

          {% if 'data' in ticker %}
          {% set unique_dates = {} %}
          {% for data_point in ticker.data %}
            {% set date_key = data_point.timestamp.split('T')[0] %}

            {% if date_key not in unique_dates %}
              {% set unique_dates[date_key] = true %}
              <p>
                Datum: {{ date_key|date('d.m') }},
                Preis: ${{ '%.2f'|format(data_point.price) }},
                Formatierter Preis: ${{ '%.2f'|format(data_point.price|format_price) }}
              </p>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>Keine Daten verfügbar</p>
        {% endif %}
        
        <!-- Line Chart -->
        <div id="lineChart-{{ ticker.id }}"></div>

        <script>
          document.addEventListener("DOMContentLoaded", () => {
            new ApexCharts(document.querySelector("#lineChart-{{ ticker.id }}"), {
              series: [{
                name: "Desktops",
                data: [{% for price in ticker.data[-8:] %} {{price['price'] }}, {% endfor %} ]
                        }],
            chart: {
            height: 350,
            type: 'line',
            zoom: {
              enabled: false
            }
          },
            dataLabels: {
            enabled: false
          },
            stroke: {
            curve: 'straight'
          },
            grid: {
            row: {
              colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
              opacity: 0.5
            },
          },
            xaxis: {
              categories: [{% for price in ticker.data[-8:] %} '{{ price['timestamp'] }}', {% endfor %}],
                        }
                      }).render();
                    });
        </script>
        <!-- End Line Chart -->

      </div>

    </div>

  </div>
  {% endfor %}
</div>






{% endmacro %}