{% extends '_main.html' %}
{% set active_page = "listings" %}
{% block title %}Stock Listings{% endblock %}

{% block body %}
<div class="pagetitle">
  <h1>Listings</h1>
</div>

<style>
  body {
      font-family: Arial, sans-serif;
  }

  ul {
      list-style-type: none;
      padding: 0;
  }

  li {
      margin-bottom: 5px;
  }

  li a {
      display: block;
      color: #333;
      padding: 10px;
      text-decoration: none;
      background-color: #f1f1f1;
  }

  li a:hover {
      background-color: #ddd;
  }
</style>
</head>

<body>
  <ul>
      <li><a href="http://localhost/stocks/ticker/AAPL">AAPL</a></li>
      <li><a href="http://localhost/stocks/ticker/MSFT">MSFT</a></li>
      <li><a href="http://localhost/stocks/ticker/GOOGL">GOOGL</a></li>
      <li><a href="http://localhost/stocks/ticker/EOAN.DE">EOAN.DE</a></li>
  </ul>

</body>



{% endblock %}
